VPNUI_DEBUG=true
WILDPANEL_DEBUG=true
VPNUI_DB_FOLDER=wild-panel
WILDPANEL_DB_FOLDER=wild-panel
VPNUI_LOG_FOLDER=wild-panel
WILDPANEL_LOG_FOLDER=wild-panel
VPNUI_BIN_FOLDER=wild-panel
WILDPANEL_BIN_FOLDER=wild-panel
