{{define "settings/panel/security"}}
<a-collapse :default-active-key="['1','2','3']">
    <a-collapse-panel key="1" header='{{ i18n "pages.settings.security.admin"}}'>
        <div class="set-grid">
            <a-setting-list-item paddings="small">
                <template #title>{{ i18n "pages.settings.oldUsername"}}</template>
                <template #control>
                    <a-input autocomplete="username" v-model="user.oldUsername"></a-input>
                </template>
            </a-setting-list-item>
            <a-setting-list-item paddings="small">
                <template #title>{{ i18n "pages.settings.currentPassword"}}</template>
                <template #control>
                    <a-input-password autocomplete="current-password" v-model="user.oldPassword"></a-input-password>
                </template>
            </a-setting-list-item>
        </div>
        <div class="set-grid">
            <a-setting-list-item paddings="small">
                <template #title>{{ i18n "pages.settings.newUsername"}}</template>
                <template #control>
                    <a-input v-model="user.newUsername"></a-input>
                </template>
            </a-setting-list-item>
            <a-setting-list-item paddings="small">
                <template #title>{{ i18n "pages.settings.newPassword"}}</template>
                <template #control>
                    <a-input-password autocomplete="new-password" v-model="user.newPassword"></a-input-password>
                </template>
            </a-setting-list-item>
        </div>
        <a-list-item>
            <a-space direction="horizontal" :style="{ padding: '0 20px' }">
                <a-button type="primary" @click="updateUser">{{ i18n "confirm" }}</a-button>
            </a-space>
        </a-list-item>
    </a-collapse-panel>
    <a-collapse-panel key="2" header='{{ i18n "pages.settings.security.twoFactor" }}'>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.security.twoFactorEnable" }}</template>
            <template #description>{{ i18n "pages.settings.security.twoFactorEnableDesc" }}</template>
            <template #control>
                <a-switch @click="toggleTwoFactor" :checked="twoFactorEnable"></a-switch>
            </template>
        </a-setting-list-item>
    </a-collapse-panel>
    <a-collapse-panel key="3" header='{{ i18n "pages.settings.security.apiTokens" }}'>
        <a-alert type="info" show-icon style="margin: 0 20px 12px"
            message='{{ i18n "pages.settings.security.apiTokensDesc" }}'></a-alert>
        <div class="set-grid">
            <a-setting-list-item paddings="small">
                <template #title>{{ i18n "pages.settings.security.apiTokenName" }}</template>
                <template #control>
                    <a-input v-model="apiTokenName" placeholder='{{ i18n "pages.settings.security.apiTokenNamePlaceholder" }}'></a-input>
                </template>
            </a-setting-list-item>
        </div>
        <a-list-item>
            <a-space direction="horizontal" style="padding: 0 20px">
                <a-button type="primary" :loading="apiTokenBusy" @click="createApiToken">{{ i18n "pages.settings.security.apiTokenCreate" }}</a-button>
                <a-button @click="loadApiTokens">{{ i18n "pages.settings.security.apiTokenRefresh" }}</a-button>
            </a-space>
        </a-list-item>
        <a-alert v-if="apiTokenPlaintext" type="warning" show-icon style="margin: 12px 20px"
            message='{{ i18n "pages.settings.security.apiTokenCopyOnce" }}'
            :description="apiTokenPlaintext"></a-alert>
        <a-table style="margin: 12px 20px" :columns="apiTokenColumns" :data-source="apiTokens"
            :pagination="false" row-key="id" size="small"
            :locale='{ emptyText: `{{ i18n "noData" }}` }'>
            <template slot="enabled" slot-scope="text, record">
                <a-switch :checked="record.enabled" @change="(v) => setApiTokenEnabled(record, v)"></a-switch>
            </template>
            <template slot="action" slot-scope="text, record">
                <a-button type="danger" size="small" @click="deleteApiToken(record)">{{ i18n "delete" }}</a-button>
            </template>
        </a-table>
    </a-collapse-panel>
</a-collapse>
{{end}}
